/* Import CSS Link */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Catamaran:wght@100..900&family=Fascinate+Inline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Neucha&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Default CSS Styles  */
:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #d9d9d9;
  --light-grey: #555555;
  --dark-grey: #1e1e1e;
  --custom: #cecece;
  --custom1: #ececec;

  /* Font Families */
  --font-family-bai: "Bai Jamjuree", serif;
  --font-family-lato: "Lato", serif;

  /* Font Sizes */
  --font-size-normal: 17px;
  --font-size-xsmall: 12px;
  --font-size-small: 15px;
  --font-size-semi-medium: 20px;
  --font-size-medium: 25px;
  --font-size-custom: 28px;
  --font-size-large: 30px;
  --font-size-xl: 35px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 45px;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semi-medium: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}

/*Start Of Components Section */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 a,
li,
ul {
  line-height: 200%;
}

button,
select,
option,
.contact-icon {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

select {
  padding: 5px 10px;
  width: 180px;
  outline: none;
  border: none;
  font-family: var(--font-family-bai);
  font-weight: var(--font-weight-medium);
}

section {
  padding: 75px 50px;
}

/* Footer Section */
#footer {
  background: var(--black);
  color: var(--white);
  font-family: var(--font-family-bai);
  padding: 50px 50px 50px 50px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 50px;
}

.footer-column {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.pages {
  align-items: center;
}

.footer-logo {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--white);
  padding: 5px 0px;
}

.footer-logo-title {
  font-weight: var(--font-weight-semi-medium);
  font-size: var(--font-size-medium);
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-p {
  font-family: var(--font-family-lato);
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.footer-icon:hover {
  transform: scale(1.2);
  background: var(--white);
  color: var(--black);
}

.footer-icon:hover .footer-icon-link {
  color: var(--black);
}

.footer-icon-link {
  color: var(--white);
}

.footer-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-icon {
  width: 35px;
  height: 35px;
}

.footer-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}

.footer-items {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.footer-link {
  display: inline-flex;
  padding-bottom: 5px;
  color: var(--white);
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.email {
  display: flex;
}

.email-input {
  width: 80%;
  padding: 30px 20px;
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xsmall);
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  border-right: none;
}

.email-submit {
  background: var(--white);
  border: 2px solid var(--white);
  padding: 30px 20px;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.email-submit:hover {
  background: var(--black);
  color: var(--white);
}

.footer-link:hover,
.footer-bottom-link:hover {
  transform: scale(1.1);
  font-weight: var(--font-weight-bold);
}

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid var(--white);
  background: transparent;
  color: var(--white);
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.back-to-top:hover {
  background: white;
  transform: scale(1.3);
  color: var(--black);
}

.footer-bottom-row {
  padding: 50px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom-link {
  color: var(--white);
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.faq-links {
  display: flex;
  gap: 10px;
}
/* End of Components Section */

/* Accomodation Section */
#accomodation {
  display: flex;
  justify-content: space-between;
}

.section-tagline {
  font-family: var(--font-family-bai);
  color: var(--black);
}

.accomodation-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
}

.accomodation-title {
  font-family: var(--font-family-bai);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semi-medium);
  line-height: 60px;
}

.accomodation-p {
  font-family: var(--font-family-lato);
  font-size: var(--font-size-small);
  line-height: 30px;
}

.accomodation-btn {
  padding: 15px 45px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
  font-family: var(--font-family-bai);
  text-transform: uppercase;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.accomodation-btn:hover {
  transform: scale(1.1);
}

.accomodation-img-column {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.accomodation-img-row {
  display: flex;
  gap: 15px;
}

.accomodation-img {
  display: inline-flex;
  width: 49%;
  height: 40vh;
  background: var(--grey);
}

/* Luxury Rooms Section */

#luxuryRooms {
  background: var(--custom1);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.luxury-rooms-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.luxury-tagline {
  font-family: var(--font-family-bai);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-semi-medium);
  line-height: 30px;
}

.luxury-header-title {
  font-family: var(--font-family-bai);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

.luxury-rooms-tabs {
  display: flex;
  gap: 10px;
}

.luxury-rooms-menu {
  padding: 8px 15px;
  font-family: var(--font-family-bai);
  border: none;
  outline: none;
  background: var(--white);
}

.menu-active {
  background: var(--black);
  color: var(--white);
}

/* Luxury Rooms Container */
.luxury-rooms-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.luxury-rooms-row {
  display: flex;
  gap: 30px;
}

.luxury-rooms-card {
  height: 50vh;
  background: var(--custom);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-family-bai);
}

.luxury-rooms-card-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
}

#card-top-left,
#card-top-right {
  width: 20%;
}

#card-bottom-left,
#card-bottom-right {
  width: 50%;
}

#card-top-middle {
  width: 60%;
}

.luxury-card-price {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-semi-medium);
}

.luxury-room {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-semi-medium);
}

/* Video Section */
#videoSection {
  width: 100%;
  height: 80vh;
  padding: 0px;
}

.video-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  filter: brightness(20%); /* Further darkens the video */
}

.video-overlay-text {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 50%;
  color: var(--white);
  font-family: var(--font-family-bai);
  font-size: var(--font-size-large);
  line-height: 55px;
  z-index: 1;
}

/* Amenities */
.amenities-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.amenity-card {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 30%;
}

.amenity-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--grey);
  height: 100%;
  width: 70%;
}

.amenity-text {
  display: flex;
  flex-direction: column;
}

.amenity-title {
  font-family: var(--font-family-bai);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

.amenity-p {
  font-family: var(--font-family-lato);
  font-size: var(--font-size-small);
}

/* Services Section */
#services {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.services-container, .services-container-reverse {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.service-description{
  background: var(--grey);
  height: 80vh;
  width: 60%;
  gap: 10px; 
  display: flex;
  flex-direction: column;
  padding: 100px 0px 0px 200px;
  position: absolute;
  right: 50px;
}

.service-img,
.service-img-reverse {
  width: 45%;
  height: 70vh;
  background: var(--black);
  z-index: 1;
}


.service-tagline {
  font-family: var(--font-family-lato);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-normal);
}

.service-title {
  font-size: var(--font-size-large);
  font-family: var(--font-family-bai);
  font-weight: var(--font-weight-medium);
  letter-spacing: 2%;
}

.service-p {
  font-family: var(--font-family-lato);
  font-size: var(--font-size-small);
  width: 70%;
  line-height: 30px;
  margin-bottom: 0px;
}

.service-button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0px;
  text-transform: uppercase;
  font-family: var(--font-family-bai);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  background: transparent;
  border: 1px solid var(--black);
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 40px;
}

.service-button:hover {
  transform: scale(1.1);
  color: var(--white);
  background: var(--black);
}

.service-description-reverse {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 100px 0px 0px 80px;
  left: 50px;
  background: var(--grey);
  height: 80vh;

}

.service-img-reverse{
position: absolute;
right: 50px;
}
